@import "./animations.css";

:root {
    --body-bg: #140523;
    --body-bg-white: #fdf7ff;
    --btn-bg-green: #1ac184;
    --btn-shadow-green: #1ac184a3;
    --btn-bg-orange: #c1311a;
    --btn-bg-pink: #c31a58;
    --btn-bg-pink-low: #140523;
    --btn-shadow-pink: #c31a58a1;
    --btn-bg-hover: #c31a58;
    --text-color: #fdf7ff;
    --text-color-low: #6d6a77;
    --text-font-big: 2rem;
}

.text-font-big {
    font-size: 1.5rem;
}

.body-bg {
    background: var(--body-bg);
}

.btn-bg-pink {
    background: var(--btn-bg-pink);
}

.btn-bg-green {
    background: var(--btn-bg-green);
}

.btn-bg-orange {
    background: var(--btn-bg-orange);
}

.btn-bg-pink-low {
    background: var(--btn-bg-pink-low);
}

.btn-shadow-pink {
    box-shadow: 0px 6px 1px var(--btn-shadow-pink);

}

.btn-shadow-green {
    box-shadow: 0px 6px 1px var(--btn-shadow-green);

}

.btn-bg-hover {
    background: var(--btn-bg-hover);
}

.body-bg-white {
    background: var(--body-bg-white);
}

.text-color {
    color: var(--text-color);
}

.text-color-low {
    color: var(--text-color-low);
}

body {
    padding: 20px 20px 0 20px;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;

}

img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}
.perfil-image {
    filter:grayscale(.8);
}
a {
    text-decoration: none;
    color: var(--text-color) !important;
    font-weight: 600;
    border-radius: 20px;
}

a:hover {
    background: var(--btn-bg-hover);
    color: var(--text-color);
}

.card-image:hover {
    transform: scale(1.5);
    overflow: hidden;
}

footer a:hover {
    background: none;
    color: none;
}

.footer a {
    width: 50px;
    padding: 10px;
    background: var(--text-color);
    border-radius: 100%;
}

.footer {
    background: var(--btn-bg-orange);
    padding: 20px;
    border-radius: 50px;
}

.transition {
    transition: .5s all;

}

.non-shadow:hover {
    box-shadow: none;
    transform: translate(0px, 4px);
}

.border-pink {
    border: 10px solid var(--btn-bg-pink);

}

.border-pink-light {
    border: 4px solid var(--btn-bg-pink);

}

.object-fit-cover {
    object-fit: cover;
}

.overflow-hidden {
    overflow: hidden;
}

.aspect-ratio-square {
    aspect-ratio: 1/1;

}

.height-relative-viewport {
    height: 30vh;
}

.badge {
    background: var(--btn-bg-orange) !important;
    padding: 20px;
    font-size: 1.2rem;
}

.mini-badge {
    background: var(--btn-bg-orange) !important;
    padding: 10px;
    font-size: .7rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.btn-scroll-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 20px;
    background: var(--btn-bg-pink);
    color: var(--text-color);
    border-radius: 100%;
    aspect-ratio: 1/1;
    box-shadow: 2px 2px 4px var(--btn-shadow-pink);
}

.section-patrons-container-patron {
    overflow: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
}

.section-patrons-patron {
    min-width: 40%;
    max-width: 40%;
}

@media screen and (max-width: 500px) {
    .section-patrons-patron {
        min-width: 100%;
        max-width: 100%;
        scroll-snap-align: center
    }
}

.section-patrons-patron img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wobble-hor-bottom {
    -webkit-animation: wobble-hor-bottom 1.8s backwards 1;
    animation: wobble-hor-bottom 1.8s backwards 1;

}